//白天色

// $bgColor-day:#fff;
// $textColor-day:#000;

// //夜间色
// $bgColor-night:#000;
// $textColor-night:#fff;

// :export{
//     dayFont:$textColor-day;
//     nightFont:$textColor-night
// }

@import './mixin.scss';
@import './vant.scss';

  [data-theme="theme1"] {
    background-color:$background-color-theme1;
  }
  [data-theme="theme2"] {
    background-color:$background-color-theme2;
  }
  [data-theme="theme3"]  {
      background-color:$background-color-theme3;
}