@import './variable.scss';
@mixin fontColor($color) {
    color:$color;
    [data-theme="theme1"] {
        color:$font-color-theme1;
    }
}

@mixin bgColor($color : '#fff'){/*通过该函数设置主题颜色，后期方便统一管理；*/
    background-color:$color;
    [data-theme="theme1"] {
      background-color:$background-color-theme1;
    }
    [data-theme="theme2"] {
      background-color:$background-color-theme2;
    }
    [data-theme="theme3"] & {
        background-color:$background-color-theme3;
      }
  }
  