//颜色定义

$background-color-theme:#ccc;
$background-color-theme1:#fff;
$background-color-theme2:blue;
$background-color-theme3:gray;

$font-color-theme:#ccc;
$font-color-theme1:red;
$font-color-theme2:blue;

$color:#fff;
